<h1>List of Current Users</h1>

<% @people.each do |person| %>

  <% @tasks.each do |task| %>
    <% if task.completion_status == false %>
      <% @incomplete_tasks += 1 %>
    <% end %>
  <% end %>

<ul>
  <li class="font-style"><%= link_to(person.name, index_path(person.id)) %>: <%= @incomplete_tasks %> </li>
</ul>

<% end  %>
