<h1>List of Current Users</h1>

<% @people.each do |person| %>

<!-- couldn't get my counter to work...just displayed zeroes  -->
  <!-- <% @tasks.each do |task| %>
    <% if task.completion_status == false %>
      <% @incomplete_tasks = counter + 1 %>
    <% end %>
  <% end %> -->

<ul>
  <li class="font-style"><%= link_to(person.name, index_path(person.id)) %> </li>

  <!-- with counter display that isn't working:
  <li class="font-style"><%= link_to(person.name, index_path(person.id)) %>: <%= @incomplete_tasks %> </li> -->
</ul>

<% end  %>
