<h3>Welcome to Your Tasks</h3>

<% @tasks.each do |task| %>

<section>
  <ul>
    <li>
    <h4> <%= link_to(task[:title], show_path(task[:id])) %></h4>
    <h5><%= link_to 'Edit', edit_path(task) %></h5>
    <h5><%= link_to 'Delete', delete_path(task),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></h5>
    </li>
  </ul>
</section>

<% end %>

</form>
