<h1>Welcome to Your Tasks</h1>

<% @tasks.each do |task| %>

<section>
  <h2> <%= link_to(task[:title], show_path(task[:id])) %></h2>
</section>

<% end %>

<h4> <%= link_to("Add New Task", new_path(@mytask[:id]) %></h4>
