<h3>Create a New Task</h3>

<form name="post" action="create" method="post"> <!--because post is http verb we are using-->

  <label for="title">Task Title:</label>
  <input type="text" name="title" id="title">

  <label for="description">Description:</label>
  <input type="text" name="description" id="description">
  <br>

  <%= tag(:input, :type => "hidden",
    :name => request_forgery_protection_token.to_s,
    :value => form_authenticity_token) %>

  <button type="submit">Submit</button>
